### This is an experiment following the instructions given in the YouTube video "Linear Regression Algorithm in Python from Scratch" by DataQuest. This is the link to the video: https://www.youtube.com/watch?v=z2hpinQggNM. There is also a GitHub page: https://github.com/dataquestio/project-walkthroughs/tree/master/linear_regression.

Create a scatter plot with athletes on the x-axis and medals on the y-axis

y^ = b<sub>0</sub> + b<sub>1</sub>x <br/> 
y^ is the predicted medals  
b0 is the y-intercept of the line (where the line will hit the y-axis)  
b1 is the coefficient for athletes (slope of the regression line) -- for every one athlete, how many medals are they expected to win?  
x is the athlete count

If there are 300 athletes, the y-intercept is -3.7, and the coefficient is 0.2, the formula would look like this:  
y^ = -3.7 + 0.2 * 300  
  
One way to understand this is that the coefficient means how many medals are received per athlete. In this case, for every athlete entered into the the Olympics, it is expected that they'll win 0.2 medals.  
  
The predicted y (y^) is 56.4. This means that if our country enters 300 athletes into the Olympics, then we will get 56.4 medals.

y = b<sub>0</sub> + b<sub>1</sub>x + ε <br/>
y is the actual medals <br/>
ε is the error  
  
Using the graph, I can actually fill in pieces of this formula since this is using an actual data point instead of predicting. For example, one data point is (438, 106). I just need to put these numbers in the correct spot for x and y.  
106 = b<sub>0</sub> + b<sub>1</sub> * 438 + ε

In [7]:
import pandas as pd
import numpy as np
import pathlib

In [8]:
data_folder = pathlib.Path.cwd()/'data'
data_folder

PosixPath('/Users/kerstinwolf/DS Projects/GitHub/Experiments/data')

In [9]:
teams = pd.read_csv(data_folder/"teams.csv")
teams

     team  year  athletes  events   age  height  weight  prev_medals  medals
0     AFG  1964         8       8  22.0   161.0    64.2          0.0       0
1     AFG  1968         5       5  23.2   170.2    70.0          0.0       0
2     AFG  1972         8       8  29.0   168.3    63.8          0.0       0
3     AFG  1980        11      11  23.6   168.4    63.2          0.0       0
4     AFG  2004         5       5  18.6   170.8    64.8          0.0       0
...   ...   ...       ...     ...   ...     ...     ...          ...     ...
2009  ZIM  2000        26      19  25.0   179.0    71.1          0.0       0
2010  ZIM  2004        14      11  25.1   177.8    70.5          0.0       3
2011  ZIM  2008        16      15  26.1   171.9    63.7          3.0       4
2012  ZIM  2012         9       8  27.3   174.4    65.2          4.0       0
2013  ZIM  2016        31      13  27.5   167.8    62.2          0.0       0

[2014 rows x 9 columns]